
h1, h2, h3, h4, p, ul{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h2{
	font-size: 1.5em;
}

body{
	background: #1a1a1a;
	font-size: 100%;
}

header .container{
	background: #222222;
}

header h1 {
	font-size: 3.5em;
	font-style: italic;
	color: #888888;
	float: left;
	padding: 20px;
}

header nav {
	font-size: 1.5em;
	float: right;
	margin-top : 35px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

header nav a{
	padding: 10px;
}

header nav a:link{
	color: white;
}

header nav a:visited{
	color: white;
}

.container {
	margin: auto;
	float: center;
}

main .container{
	background: #333333;
	color: #888888;
	padding: 30px 0px 30px 0px;
}

main .container h1{
	font-size: 2.5em;
	margin-left: 20px;
	margin-bottom: 20px;
}

main .container h2{
	font-size: 2.0em;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

main .container img{
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 300px;
}

main .container p{
	color: #888888;
	padding: 0px 20px 0px 20px;
}

main .container p:after{
	content:"\A";
	white-space: pre;
}

main .container .posts{
	padding: 20px;
}

main .container ul.list-circle{
	padding: 0px 20px 0px 40px;
	list-style-type: circle;
}

main .container a{
	color: white;
}


main p b {
	font-weight: bold;
}

footer .container {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	background: #222222;
	color: #888888;
	float: center;
}

footer .container .contact{
	padding: 20px;
}

footer .container h5{
	font-size: 1.5em;
}
